#qol_map {
	left: 350px;
	right: 350px;
	width: 100%;
}
/*
#qol_map {
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border: 1px solid lightgray;
	padding: 10px;
	align-items: center;
	justify-content: center;
}
*/